<div class="container">
  <div class="section no-pad-bot" id="index-banner">
    <br>
    <br>
    <h2 class=" center">Database Normalization</h2>
    <h4 id="navlist">
      <ul>
        <li>1NF</li>
        <li>2NF</li>
        <li>3NF</li>
        <li>BCNF</li>
      </ul>
    </h4>
    <h5 class="header col s12 light center-align color-secondary-text ">A formal process to minimize data redundancy and update anomalies through table decomposition.</h5>
    <!--   Icon Section   -->
    <div class="row thin">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Reduce Anomalies</h5>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Minimize Redesign</h5>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Avoid Bias</h5>
        </div>
      </div>
    </div>
    <div class="row center">
      {{#link-to 'schema' class="btn-large waves-effect waves-dark color-secondary" }}Get Started{{/link-to}}
    </div>
  </div>
</div>
